.individual {

  #shaker{
    display: block;
    margin: auto;
    margin-top: 50%;
  }

  .menu-but{
    //right: 0;
    //bottom: 0;
    position: absolute;
    margin-right: 10px;
    margin-bottom: 10px;
  }

}
